Body
{
  background: #303030;
  color: #ec38bc;
  background: #303030
}
h1
{
  color: #ffff00;
  margin: auto 550px auto auto;
  text-align: center;
  font-size: 1.7vmax;
}

h2
{
  font-size: 3.0vh;
}

p
{
  font-size: 2vmin;
}