body {
  /* fallback for old browsers */
  background-color: #03001e;
  /* Chrome 10-25, Safari 5.1-6 */
  background-image: -webkit-linear-gradient(to bottom, #ec38bc, #7303c0, #03001e);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-image: linear-gradient(to bottom, #ec38bc, #7303c0, #03001e);
}
